
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{

    width: 40%;
    vertical-align: top;
    padding: 0px 10px 0px 0px;
    display: inline-block;
}

li{
    margin-bottom: 10px;
}


.ropa{
    background-color: navy;
}

.lemonade{
    background-color: lemonchiffon;
}

.chicken{
    background-color: darkgreen;
}


.card{
    background-color: white;
    width: 75%;
    margin: 20px auto;
    border: 20px solid;
    display: block;
}

.recipe-content{
    display: inline-block;
    width: 50%;
    margin: 10px;
}

.ingredients{
    display: inline-block;
    border: 5px dotted;
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px;
} 

.directions{
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.title{
    background-color: white;
    font-family:'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center;
    border: 20px solid;
    width: 75%;
    margin: 10px auto;
}

#chicken, #ropa{
    border-color: darkred;
}

#lemonade{
    border-color:darkseagreen;
}

