body {
    background-color: linen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px dotted palegoldenrod;
    background-color: black;
    color: white;
    width: 800px;
}

.recipe.button {
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
    width: fit-content;
}

.recipe.container {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 12px;
    width: 800px;
}

#ropa {
    color: white;
    background-color: navy;
}

#lemonade {
    color: lemonchiffon;
    background-color: darkseagreen;
}

#chicken {
    color: white;
    background-color: darkgreen;
}